{% block header %}
<header class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        {# Logo/Titre à gauche #}
        <div class="navbar-brand">
            <h1 class="h4 mb-0">Gestion d'événements</h1>
        </div>

        {# Menu burger pour mobile et desktop #}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {# Menu principal #}
        <div class="collapse navbar-collapse" id="navbarMain">
            {# Menu de navigation centré #}
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">
                        <i class="bi bi-house-door"></i> Accueil
                    </a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_account') }}">
                            <i class="bi bi-person-circle"></i> Mon Compte
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-calendar-event"></i> Mes Événements
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-calendar-plus"></i> Créer un Événement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{{ path('app_logout') }}">
                            <i class="bi bi-box-arrow-right"></i> Déconnexion
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>
{% endblock %} 

