{% block header %}
<header class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        {# Nom de l'utilisateur à gauche #}
     

        {# Titre centré - la classe text-center aide à centrer sur toutes les tailles d'écran #}
        <div class="navbar-text mx-auto text-center flex-grow-1">
            <h1 class="h3 mb-0">Gestion d'évenements - SYMFONY</h1>
        </div>

        {# Menu burger à droite transformé en bouton #}
    </div>
</header>
{% endblock %} 

