{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue dans l'application de gestion de mariages</h1>
        <p>Application Symfony pour la gestion des mariages et des prestataires.</p>
    </div>
{% endblock %}
